html{
    font-family: 'Didact Gothic', sans-serif;
    color: black;
}

body{
	background-image: url('images/townhouse.jpg');
	-webkit-background-size:cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment:fixed;
}

.about-us{
	background-color: gray;
	opacity: 0.6;
	color: white;
}

